@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    background-color: #fff;
}

.navbar {
    background-color: #afafaf;
    display: flex;
}

.logo {
    padding: 1rem;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0 0 0.5rem;
}

.links li {
    display: inline-block;
    margin-right: 1rem;
}

.links a {
    text-decoration: none;
    color: #222;
    font-family: 'Roboto', sans-serif;
}

.links a:hover {
    color: #03A64A;
}

.main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myImage {
    width: 20%;
    height: 20%;
    margin-left: 3rem;
    transition: transform 0.5s ease;
}

.myImage:hover {
    transform: scale(1.1);
  }

.main h1 {
    font-family: 'Roboto', sans-serif;
    color: #404040;
    padding: 1rem 0 0.5rem;
    font-size: 2rem;
}

.main h2 {
    color: #000;
    font-size: 1rem;
}

.main p {
    margin-bottom: 1rem;
    color: #000;
}

.integrantes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

.tools img {
    width: 25%;
    height: 25%;
    margin-right: 3rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: row;
}

.text p {
    margin-left: 1rem;
}

body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background: #afafaf;
}

body::-webkit-scrollbar-thumb {
    background-color:#4CAF50;
    border-radius: 20px;
    border: 3px solid #afafaf;
}