@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    background-color: #fff;
}

.navbar {
    background-color: #afafaf;
    display: flex;
}

.logo {
    padding: 1rem;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0 0 0.5rem;
}

.links li {
    display: inline-block;
    margin-right: 1rem;
}

.links a {
    text-decoration: none;
    color: #222;
    font-family: 'Roboto', sans-serif;
}

.links a:hover {
    color: #03A64A;
}

.main {
    background-color: #fff;
}

#quiz-container {
    text-align: center;
    margin-top: 100px;
}

#quiz-container h1 {
    color: #222;
}

#quiz-container img {
    width: 20%;
    height: 20%;
}
  

#quiz-container button {
    margin: 1rem 0.5rem;
    padding: 1rem 1rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
  
button:hover {
    background-color: #45a049;
}
  
#score {
    margin-top: 50px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.dicas {
   margin-left: 5rem; 
}

.dicas h1 {
    text-align: center;
    margin: 1rem 0 2rem 0;
    color: #222;
}

.dicas h2 {
    margin-top: 2rem;
    color: #45a049;
}

.dicas p {
    width: 60%;
}

.comentarios {
    margin: 5rem;
    width: 60%;
 }