@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navbar {
    display: flex;
    padding: 0;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links li {
    display: inline-block;
    margin-right: 1rem;
}

.links a {
    text-decoration: none;
    color: #333232;
    font-family: 'Roboto', sans-serif;
}

.links a:hover {
    color: #03A64A;
}

.main {
    background-color: #fff;
}

body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background: #afafaf;
}

body::-webkit-scrollbar-thumb {
    background-color:#4CAF50;
    border-radius: 20px;
    border: 3px solid #afafaf;
}

.apresentacao{
    margin: 2% 10%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    background-color:white;
    gap: 62px;
}

.apresentacao h3{
    color: #45a049;
    margin-top: 2rem;
    font-size: 40px;
}

.apresentacao-conteudo{
    width: 685px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}

.titulo-apresentacao{
    font-size: 40px;
    color: #45a049;
    margin-top: 2rem;
}

.apresentacao-conteudo-texto{
    font-size: 20px;

}

.apresentacao p {
    font-size: 20px;
}

.apresentacao ul {
    font-size: 20px;
}

.container {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.container h1{
    color: #45a049;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #45a049;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}
