@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navbar {
    display: flex;
    padding: 0;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links li {
    display: inline-block;
    margin-right: 1rem;
}

.links a {
    text-decoration: none;
    color: #333232;
    font-family: 'Roboto', sans-serif;
}

.links a:hover {
    color: #03A64A;
}

.main {
    background-color: #fff;
}

footer {
    background-color: #262626;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginas, .redes-sociais {
    padding: 0;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

.paginas a, .redes-sociais a {
    color: #fff;
    text-decoration: none;
}
.paginas ul {
    padding: 0;
    margin-left: 4rem;
}

.redes-sociais img {
    margin: 1.5rem 0 3.5rem 0;
}

.redes-sociais ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.redes-sociais i {
    margin-right: 2rem;
}

.apresentacao{
    margin: 2% 10%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    background-color:white;
    gap: 62px;
}

.apresentacao h3{
    color: #45a049;
    margin-top: 2rem;
    font-size: 40px;
}

.apresentacao-conteudo{
    width: 685px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}

.titulo-apresentacao{
    font-size: 40px;
    color: #45a049;
    margin-top: 2rem;
}

.apresentacao-conteudo-texto{
    font-size: 20px;

}

.apresentacao p {
    font-size: 20px;
}

.apresentacao ul {
    font-size: 20px;
}

body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background: #262626;
}

body::-webkit-scrollbar-thumb {
    background-color:#38A654;
    border: 3px solid #38A654;
}