@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --branco: #fff;
    --verde-claro: #43D95A;
    --verde-escuro: #38A654;
    --cinza-claro: #333232;
    --cinza-escuro: #262626;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navbar {
    display: flex;
    padding: 0;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links li {
    display: inline-block;
    margin-right: 1rem;
}

.links a {
    text-decoration: none;
    color: var(--cinza-claro);
    font-family: 'Roboto', sans-serif;
}

.links a:hover {
    color: var(--verde-claro);
}

/* conteúdo */

.main {
    background-color: var(--branco);
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

.video h1 {
    font-family: 'Roboto', sans-serif;
    color: var(--verde-escuro);
    padding: 1rem 0 2rem;
    font-size: 2rem;
}

/* rodapé */

footer {
    background-color: #262626;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginas, .redes-sociais {
    padding: 0;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

.paginas a, .redes-sociais a {
    color: #fff;
    text-decoration: none;
}
.paginas ul {
    padding: 0;
    margin-left: 4rem;
}

.redes-sociais img {
    margin: 1.5rem 0 3.5rem 0;
}

.redes-sociais ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.redes-sociais i {
    margin-right: 2rem;
}

/* scroll-bar */

body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background: #262626;
}

body::-webkit-scrollbar-thumb {
    background-color:#38A654;
    border: 3px solid #38A654;
}